/* 
Palette
    f4f4f4
    f0a500
    cf7500
    1a1c20
*/
* {
    background-color: #f4f4f4;
    box-sizing: border-box;
    color: #1a1c20;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 2rem;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.column {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.column:first-child {
    border-top: none;
}

.one-fifth {
    flex-basis: 100%;
}

.four-fifth {
    flex-basis: 100%;
}

.pills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pills .pill {
    border: 1px solid #1a1c20;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.title {
    color: #cf7500;
}

.button-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button,
input[type="button"] {
    background-color: #f0a500;
    border: none;
    border-radius: 5px;
    color: #1a1c20;
    cursor: pointer;
    font-weight: bold;
    margin: 0.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.button:hover,
input[type="button"]:hover,
.pills .pill:hover {
    background-color: #1a1c20;
    color: #f4f4f4;
    transition: ease-in 200ms;
}

.mg-top-1 {
    margin-top: 1rem;
}

.greeting {
    font-size: 1.5rem;
    line-height: 4rem;
}

.home {
    justify-content: center;
    min-height: 100vh;
}

.tech {
    line-height: 1rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */

    .column {
        border-top: none;
    }

    .one-fifth {
        flex-basis: 20%;
    }

    .four-fifth {
        flex-basis: 80%;
    }

    .button-group {
        flex-direction: row;
    }

    .tech.column {
        text-align: right;
    }

    .tech .pills {
        justify-content: flex-end;
    }
}